<% post_images.each do |post_image| %> <!--コントローラから渡された@post_images変数内から1つすつ取り出してpost_image変数へ格納します。-->
  <!-- インスタンス変数(@post_images)で記述されていましたが、部分テンプレートファイル内でインスタンス変数を利用すると、-->
  <!--controller側でインスタンス変数の名前や挙動を変更したとき、部分テンプレート側も変更しなければなりません。これでは再利用しにくいテンプレートになる-->
  <!--部分テンプレートが呼び出されたときに、Viewから渡される変数が使えるように変更します。この変数には、ローカル変数(post_images)を使用。-->
  <div>

    <%= link_to post_image_path(post_image.id) do %> <!--詳細ページへのリンク-->
    <!--link_toでは、doからendの間が、aタグで囲まれた状態になる。結果、image_tagは、aタグに囲まれたimgタグになります-->
      <%= image_tag post_image.get_image %> <!--imge_tagを使いpost_imageにActiveStorageで設定したimageを表示しています。-->
                                          <!--「post_image.get_image」の部分はPostImageモデル内に記述したメソッドを呼び出しています -->
    <% end %>

    <p>
      <!--投稿ユーザー画像 image_tag 'sample-author1.jpg' -->
      <!--上記の記述は仮で書いていたため修正する-->
      投稿ユーザー画像 : <%= image_tag post_image.user.get_profile_image(100,100) %>
    </p>
    <p>
      ショップ名 : <%= post_image.shop_name %> <!--post_image変数のshop_nameカラムの表示 -->
    </p>
    <p>
      説明 : <%= post_image.caption %> <!--post_image変数のcaptionカラムの表示 -->
    </p>
    <p>
      ユーザーネーム : <%= post_image.user.name %> <!--post_image変数のuser_idに関連付けられているuserモデルのnameカラムの表示 -->
    </p>
    <p>
      <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %> <!--コメント件数を表示する記述-->
    </p>
  </div>
<% end %>

<%= paginate post_images %>  <!--ページネーション機能で、1つのページに表示できる数を制限する-->